/* место для вашего кода */

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 135px 1fr;
    padding: 92px 50px 96px 50px;
}

.header__list {
    display: flex;
    gap: 28px;
    list-style: circle;
}

.header__nav-item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    list-style: circle;
    padding-left: 4px;
}

.header__nav-item_no-bullit {
    list-style: none;
    padding-left: 0;
}

.header__active-link {
    text-decoration: none;
}

.logo {
    display: block;
    width: 135px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
}

.address-link {
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.address-link_no-underline {
    border-bottom: none;
}

.header__address {
    justify-self: end;
}

.cover {
    position: relative;
    min-height: 757px;
    padding: 50px;
    background: url('../images/cover.jpg') no-repeat center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
    position: relative;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    margin-top: 114px;
}

.aligned-text_center {
    margin-top: 20px;
    margin-left: 330px;
}

.aligned-text_right {
    margin-top: 20px;
    margin-left: 613px;
}

.description {
    display: flex;
    margin-top: 106px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bet-button {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: transparent;
    padding: 12px 32px 11px 31px;
}

.letter-spacing-extended {
    word-spacing: 19px;
}

.lots {
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
}

.lots__heading {
    margin-left: 40px;
    margin-bottom: 25px;
    /* title */
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    padding: 0;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background: url('../images/card-lot-03.jpg');
}

.card__heading {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
    position: relative;
}

.card__description {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */
    color: #FFFFFF;
    z-index: 2;
    position: relative;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    /* посмотреть больше */
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.about {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.about__logo {
    margin-top: 35px;
    background-color: #000000;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 120px;
    justify-self: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    /* Об аукционе */
    margin-top: 136px;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}

.about__column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    color: #000000;
}

.footer {
    margin-top: 180px;
    margin-bottom: 82px;
    padding: 0 50px;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 164px 1fr;
}

.footer__address {
    max-width: 265px;
    justify-self: start;
}

.header__links-address-list-item {
    /* наб. Принсенграхт 263-265, Амстердам */
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.footer__menu-link {
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    width: 240px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    justify-self: end;
    margin: 0;
    padding:0;
    list-style: none;
}